.home {
  min-width: 1024px;
  min-height: 768px;
  height: 100vh;
  color: #fff;
  background: url("./images/bg.png") no-repeat center;
  background-size: 100% 100%;
  .header {
    padding: 0 40px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-wrap {
      display: flex;
      align-items: center;
      .logo {
        width: 100px;
      }
      .title {
        font-size: 24px;
        font-weight: normal;
        margin-left: 10px;
      }
    }
    .tools {
      display: flex;
      .user {
        display: flex;
        align-items: center;
        position: relative;
        .user-icon {
          display: block;
          width: 30px;
          height: 30px;
          background: url("./images/user.png") no-repeat center;
          background-size: 100% 100%;
          margin-right: 10px;
        }
        .el-dropdown-link {
          color: #fff;
          cursor: pointer;
          &:hover {
            color: #eee;
          }
        }
      }
    }
  }
  .body {
    height: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .banner {
      width: 820px;
      height: 700px;
      flex: none;
      background: url("./images/diannao.png") no-repeat center;
      background-size: 100% 100%;
      margin-right: 100px;
    }
    .recent-actions {
      flex: none;
      width: 1000px;
      height: 630px;
      margin-right: 40px;
      border: 1px solid rgba(24, 144, 254, 0.5);
      border-radius: 20px;
      background: rgba(24, 144, 254, 0.18);
      display: flex;
      flex-direction: column;
      .title {
        display: flex;
        align-items: center;
        padding: 20px 40px;
        font-size: 18px;
        flex: none;
      }
      .project-list {
        flex: auto;
        padding: 0 40px 40px;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        gap: 40px 30px;
        .item {
          border: 1px solid #1890fe;
          border-radius: 10px;
          cursor: pointer;
          background: rgba(24, 144, 254, 0.18);
          overflow: hidden;
          img {
            display: block;
            height: calc(100% - 50px);
            background: #183c8f;
          }
          .info {
            height: 50px;
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .name {
              font-size: 16px;
            }
            .time {
              color: #92cbff;
            }
          }
        }
      }
    }
    .menu {
      width: 440px;
      height: 630px;
      display: grid;
      flex: none;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 30px;
      li {
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(24, 144, 254, 0.18);
        border: 1px solid rgba(24, 144, 254, 0.5);
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: rgba(24, 144, 254, 0.3);
          transform: translate(-1px, -1px);
          box-shadow: 1px 1px 3px #457bc7;
        }
        .icon {
          display: block;
          width: 62px;
          height: 62px;
          margin-right: 20px;
          &.icon-project {
            background: url("./images/project.png") no-repeat;
            background-size: 100% 100%;
          }
          &.icon-source {
            background: url("./images/source.png") no-repeat;
            background-size: 100% 100%;
          }
          &.icon-help {
            background: url("./images/help.png") no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1520px) {
    .body {
      .banner {
        width: 586px;
        height: 500px;
      }
      .recent-actions {
        width: 800px;
        height: 530px;
        margin-right: 40px;
        border: 1px solid rgba(24, 144, 254, 0.5);
        border-radius: 20px;
        background: rgba(24, 144, 254, 0.18);
      }
      .menu {
        width: 340px;
        height: 530px;
      }
    }
  }
  @media screen and (max-width: 1220px) {
    .body {
      .banner {
        width: 286px;
        height: 400px;
      }
      .recent-actions {
        width: 600px;
        height: 400px;
        margin-right: 40px;
        .title {
          padding: 16px 20px;
          font-size: 16px;
        }
        .project-list {
          padding: 0 20px 20px;
          gap: 30px 20px;
        }
      }
      .menu {
        width: 260px;
        height: 400px;
        li {
          font-size: 20px;
          .icon {
            width: 40px;
            height: 40px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
