.option {
  .card {
    margin-bottom: 10px;
    .header {
      font-size: 12px;
      color: #999;
      margin-bottom: 3px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .body {
      padding: 6px;
      background: #f6f6f6;
      border-radius: 5px;
      .el-form-item:last-child {
        margin-bottom: 0;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      .el-table .cell {
        padding-right: 3px;
      }
      .el-table .cell,
      .el-table--border .el-table__cell:first-child .cell {
        padding-left: 3px;
      }
    }
    .footer {
      font-size: 12px;
      color: #999;
      margin-top: 3px;
    }
  }
  .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 6px;
    .el-form-item__label {
      font-size: 12px;
    }
    .brief {
      font-size: 12px;
      color: #999;
      line-height: 1.6;
    }
  }
}
