*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Microsoft YaHei";
}

#app {
  overflow: hidden;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: "Microsoft YaHei";
}

[class*=" ri-"],
[class^="ri-"] {
  vertical-align: bottom;
}

