::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #dddee0;
  &:hover {
    background-color: #c7c9cc;
  }
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}
